snippet header "c header"
/********************************************
 *  Author: Yuheng Chen, chyh1990@gmail.com
 *  Date:   `date +%d.%m.%Y`
 *******************************************/

#include <stdlib.h>
#include <stdio.h>
endsnippet

